.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 30px; */
}

button {
  background-color: lightgreen;
  border: green;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  width: 30%;
}

.animal-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
